<div class="container">
    <ul class="list-inline">
        <f:for each="{terms}" as="termGroup" key="firstCharacter">
            <li>
                <a href="#{firstCharacter}">{firstCharacter}</a>
            </li>
        </f:for>
    </ul>
</div>