<f:for each="{terms}" as="term">
    <li>
        <f:link.action action="show" pageUid="{settings.detailUid}" arguments="{term: term}">
            <f:if condition="{term.abbreviation}">
                <f:then>
                    <abbr title="{term.fullTitle}">
                        {term.title}
                    </abbr>
                </f:then>
                <f:else>
                    {term.title}
                </f:else>
            </f:if>
        </f:link.action>
    </li>
</f:for>