<f:render partial="Term/Jumpmarks" arguments="{terms: terms}"/>

<div class="container">
    <ul>
        <f:for each="{terms}" as="termGroup" key="firstCharacter">
            <li>
                <span id="{firstCharacter}"><strong>{firstCharacter}</strong></span>
                <ul>
                    <f:render partial="Term/TermsList" arguments="{terms: termGroup}"/>
                </ul>
            </li>
        </f:for>
    </ul>
</div>