{namespace hn=Hn\GlossaryOne\ViewHelpers}

<div class="container">
    <f:link.page pageUid="{settings.glossaryUid}">Zur Übersicht</f:link.page>

    <h2>{term.title}</h2>

    <f:if condition="{term.fullTitle}">
        <h4>{term.fullTitle}</h4>
    </f:if>
</div>

<f:for each="{term.content}" as="element">
    <hn:content uid="{element.uid}"/>
</f:for>

<f:if condition="{term.synonyms}">
    <div>
        <h4>Synonyme:</h4>
        <ul>
            <f:for each="{term.synonyms}" as="synonym">
                <li>{synonym.name}</li>
            </f:for>
        </ul>
    </div>
</f:if>

<f:if condition="{term.related}">
    <div>
        <h4>Siehe auch:</h4>
        <ul>
            <f:for each="{term.related}" as="related">
                <li>
                    <f:link.action action="show" pageUid="{settings.detailUid}" arguments="{term: related}">
                        {related.title}
                    </f:link.action>
                </li>
            </f:for>
        </ul>
    </div>
</f:if>